{% extends 'layout.html' %}
{% block title %}Upload{% endblock %}
{% block content %}
<div>
<div>
    <form method="post" enctype="multipart/form-data">
    <input type="file" name="file_data" tabindex="1"/>
    <br />
    <input type="submit" name="upload" tabindex="2"/>
    </form>
</div>

{% if message is defined and message %}
    <div>{{message}}</div>
{% endif %}

{% if error is defined and error %}
    <div>{{error['msg']}} (#{{error['code']}})</div>
{% endif %}

<p><a href="/logout">Log out</a></p>
</div>
{% endblock %}
